<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939815465727-83112ckp5jvvlulim6iu9r9873rqchla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939815465727-83112ckp5jvvlulim6iu9r9873rqchla</string>
	<key>API_KEY</key>
	<string>AIzaSyCyzhQrLB1SbTa7qNp9mcZypJBz_3lxinc</string>
	<key>GCM_SENDER_ID</key>
	<string>939815465727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.int2pr.s4Integration2</string>
	<key>PROJECT_ID</key>
	<string>tournomakerproject</string>
	<key>STORAGE_BUCKET</key>
	<string>tournomakerproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939815465727:ios:f9778d23d0e1b3a6b452ca</string>
</dict>
</plist>